@use "../../variables" as *;

// Platform archive page
.platforms {
    &__grid {
        display: grid;
        grid-template-columns: 1fr $page-intro-width-bottom 1fr;
        gap: $space-md;
        padding: $space-md;
    
        .platform {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            position: relative;

            &__photo {
                width: 100%;
                overflow: hidden;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    pointer-events: none;
                    z-index: 1;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            &__name {
                font-size: $font-size-lg;
                font-weight: $font-weight-body;
                margin: $space-sm 0;
                text-align: center;
                color: $colour-text;
            }
        
            &:hover {
                text-transform: uppercase;
                text-decoration: none;
                background-image: var(--page-bg-image);
                background-size: cover;
                background-position: center;
        
                .platform__photo::before {
                    opacity: 1;
                    background-image: var(--page-bg-image);
                    background-size: cover;
                    background-position: center;
                    // Create border frame effect
                    mask: linear-gradient(#fff 0 0) content-box, 
                          linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, 
                                  linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    padding: 8px; // Border thickness
                }
            }
        }
        
        .platform:nth-child(even) {
            grid-column: 3;
        }
    }   
}