@use "../../variables" as *;

// Platform archive page
.platforms {
    &__grid {
        display: grid;
        grid-template-columns: 1fr $page-intro-width-bottom 1fr;
        gap: $space-md;
        padding: $space-md;
    
        .platform {
            grid-column: 1;

            &__photo {
                width: 100%;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            &__name {
                font-size: $font-size-lg;
                font-weight: $font-weight-body;
                margin: $space-sm 0;
                text-align: center;
                color: $colour-text;
            }
        
            &:hover {
                text-transform: uppercase;
                background-image: var(--page-bg-image);
                background-size: cover;
                background-position: center;
        
                img {
                    transform: scale(0.95, 0.97);
                }
            }
        }
        
        .platform:nth-child(even) {
            grid-column: 3;
        }
    }
    
}