@use "../variables" as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  text-transform: uppercase;
  text-align: center;

  .nav {
    padding: $space-md 0;
    
    ul {
      justify-content: center;
      padding: 0 $space-md;
    }
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .nav {
    padding: $space-md 0;

    ul li a {
      padding: 0 $space-md;
    }
  }

  .current-menu-item a {
    text-transform: uppercase;
  }
}

.nav {
  padding: $space-md;
  background: $colour-bg;
  display: flex;
  align-items: center;
  font-size: $font-size-lg;
  font-weight: 600;
  position: relative;
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  li {
    flex: 1;
    position: relative;
  }

  li a {
    display: block;
    position: relative;
    z-index: 2;

    &:hover {
      text-decoration: none;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: -$space-md;
      bottom: -$space-md;
      background-size: cover;
      background-position: center;
      background-image: var(--hover-bg);
      pointer-events: none;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    
    &:hover::before {
      opacity: 0.9;
    }
    
    // Design Everything (header center)
    &[data-position="top-center"]::before {
      left: 50%;
      transform: translateX(-50%);
      width: $page-intro-width-top;
    }
    
    // People (footer left third)
    &[data-position="bottom-left"]::before {
      left: 0;
      width: $page-intro-width-bottom;
    }
    
    // Platform (footer center third)
    &[data-position="bottom-center"] {
      text-align: center;
    }

    &[data-position="bottom-center"]::before {
      left: 50%;
      transform: translateX(-50%);
      width: $page-intro-width-bottom;
    }
    
    // Progress (footer right third)
    &[data-position="bottom-right"] {
      text-align: right;
    }

    &[data-position="bottom-right"]::before {
      right: 0;
      width: $page-intro-width-bottom;
    }
  }
}

// Design Everything
.nav-center {
  margin: 0 auto;
}

// Other, Insta, Shop
.nav-right {
  position: absolute;
  right: 0;

  font-size: $font-size-sm;
  text-transform: none;

  li {
    margin-left: $space-sm;

    &:hover {
      text-decoration: underline;
    }
  }
}
