@use "../variables" as *;

.text-box-slide {
  position: fixed;
  width: $page-intro-width-bottom;
  height: $page-intro-height-bottom;
  background-size: cover;
  background-position: center;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;

  // Design Everything
  &[data-origin="top-center"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $page-intro-width-top;
    height: $page-intro-height-top;

    h2 {
      text-align: center;
    }
  }
  
  // People
  &[data-origin="bottom-left"] {
    top: 0;
    left: 0;
  }
  
  // Platform
  &[data-origin="bottom-center"] {
    top: $header-height;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      text-align: center;
    }
  }
  
  // Progress
  &[data-origin="bottom-right"] {
    top: 0;
    right: 0;
  }
}

.text-box-content {
  position: relative;
  z-index: 2;
  padding: $space-md;
  height: 100%;

  h2 {
    font-family: $font-body;
    font-weight: 600;
    font-size: $font-size-lg;
    text-transform: uppercase;
    padding-bottom: $space-md;
  }
}