@use "../../variables" as *;


.people {
    display: grid;
    grid-template-columns: $page-intro-width-bottom 1fr;

    &__grid {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .person {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        
        &__photo {
            width: 100%;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
        
        &__name {
            font-size: $font-size-lg;
            font-weight: $font-weight-body;
            margin: $space-sm 0;
            text-align: center;
            color: $colour-text;
        }

        &:hover {
            text-transform: uppercase;
            background-image: var(--page-bg-image);
            background-size: cover;
            background-position: center;

            img {
                transform: scale(0.95, 0.97);
            }
        }
    }
}

.people-list {
    column-count: 2; // TOZO: MQs, 1 column on sm + md
    column-gap: 2rem;
    column-fill: auto;
    list-style: none;
    margin-top: $space-md;
    height: 100%;

    li a {
        text-decoration: none;
        color: $colour-text;

        &:hover {
            text-decoration: underline;
        }
    }
}