@font-face {
  font-family: "Roobert-Regular";
  src:
    url("../assets/fonts/Roobert-Regular-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roobert-Regular-Regular.woff") format("woff"),
    url("../assets/fonts/Roobert-Regular-Regular.ttf") format("truetype"),
    url("../assets/fonts/Roobert-Regular-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
