@use "variables" as *;

.grid {
  display: grid;
  gap: $space-container;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
}

/* Generic card */
.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  .card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
  }

  .card-photo {
    width: 100%;
    height: 480px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: $space-md;
    text-align: left;
    gap: $space-xs;

    > * {
      margin: 0;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }

  .card-photo {
    height: auto;

    img {
      height: auto;
    }
  }
}
