@use "variables" as *;

.site-header {
  position: sticky;
  top: 0;
  z-index: 20;
  text-transform: uppercase;
  text-align: center;

  .nav ul {
    justify-content: center;
  }
}

.site-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;

  .current-menu-item a {
    text-transform: uppercase;
  }
}

.nav {
  padding: $space-md;
  background: $colour-bg;
  display: flex;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  li a {
    text-decoration: none;
    color: $colour-text;
  }
}
