@use "variables" as *;

.site-header {
  position: sticky;
  top: 0;
  z-index: 20;
  text-transform: uppercase;
  text-align: center;

  .nav ul {
    justify-content: center;
  }
}

.site-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;

  .current-menu-item a {
    text-transform: uppercase;
  }
}

.nav {
  padding: $space-md;
  background: $colour-bg;
  display: flex;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  li a {
    text-decoration: none;
    color: $colour-text;
  }
}

.header-bubble {
  position: absolute; // Absolute inside header
  top: 0;
  left: 50%; // Center horizontally
  transform: translateX(-50%) translateY(-20px); // start slightly above
  background-color: $colour-surface;
  color: $colour-text;
  padding: 1.5rem 2.5rem;
  border-radius: $radius-lg;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 66%;
  height: 100vh;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  z-index: 25;
}

// Show bubble when open
.header-bubble[data-open="true"] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
  animation: bubble-slide-down 0.5s ease forwards;
}

// Slide-down animation
@keyframes bubble-slide-down {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.footer-bubble {
  position: absolute; // absolute inside footer
  bottom: 100%; // start just below the footer
  left: 50%; // center horizontally
  transform: translateX(-50%) translateY(20px); // start slightly below
  background: red;
  color: $colour-text;
  padding: 1.5rem 2.5rem;
  border-radius: $radius-lg;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 66%;
  height: 100vh;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  z-index: 25;
}

// Show bubble when open
.footer-bubble[data-open="true"] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
  animation: bubble-slide-up 0.5s ease forwards;
}

// Slide-up animation
@keyframes bubble-slide-up {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
