@use "variables" as *;

.text-box-slide {
  position: fixed;
  width: 33%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 100;
  overflow: hidden;
  
  // Design Everything
  &[data-origin="top-center"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 75%;

    h2 {
      text-align: center;
    }
  }
  
  // People
  &[data-origin="bottom-left"] {
    top: 0;
    left: 0;
  }
  
  // Platform
  &[data-origin="bottom-center"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      text-align: center;
    }
  }
  
  // Progress
  &[data-origin="bottom-right"] {
    top: 0;
    right: 0;
  }
}

.text-box-content {
  position: relative;
  z-index: 2;
  padding: $space-md;
  height: 100%;

  h2 {
    font-family: $font-body;
    font-weight: 600;
    font-size: $font-size-lg;
    text-transform: uppercase;
    padding-bottom: $space-md;
  }
}