@use "fonts";
@use "variables" as *;
@use "./components/nav.scss" as nav;
@use "./components/page-intros.scss" as pageIntros;
@use "./cpts/people/people-single.scss" as peopleSingle;
@use "./cpts/people/people.scss" as people;
@use "./cpts/platform/platform-single.scss" as platformSingle;
@use "./cpts/platform/platform.scss" as platform;
@use "./cpts/progress/progress-single.scss" as progressSingle;
@use "./cpts/progress/progress.scss" as progress;
@use "./pages/home.scss" as home;
@use "./utility/card.scss" as card;
@use "./utility/grid.scss" as grid;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-body;
  font-weight: $font-weight-body;
  color: $colour-text;
  background-color: $colour-background;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  a {
    text-decoration: none;
    color: $colour-text;

    &:hover {
      text-decoration: underline;
    }
  }
}

.page-content {
  min-height: 100vh;
}

main:not(.home-hero) {
  padding-top: $header-height;
  padding-bottom: $footer-height;
  height: 100%;
}

// Containers
.container {
  width: 100%;
  height: 100%;
}
