@use "../../variables" as *;
@use "../../grid" as grid;

/* Attach the shared classes */
.progress-grid {
  @extend .grid;
}

.progress-card {
  @extend .card;

  .progress-link {
    @extend .card-link;
  }

  .progress-photo {
    @extend .card-photo;
  }

  .progress-content {
    @extend .card-content;
  }

  /* Progress-specific styling */
  .progress-date {
    font-size: $font-size-sm;
    color: $colour-text-light;
  }

  .progress-title {
    font-size: $font-size-lg;
    font-family: $font-heading;
  }

  .progress-description {
    font-size: $font-size-base;
    color: $colour-text-light;
  }
}
